{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"eqeqeq": [2, "allow-null"],
		"func-name-matching": [2, "always"],
		"max-depth": [1, 4],
		"no-magic-numbers": [2, {
			"ignore": [0, 1, 2],
		}],
		"no-restricted-syntax": [2, "BreakStatement", "ContinueStatement", "DebuggerStatement", "LabeledStatement", "WithStatement"],
		"sort-keys": [0],
	},

	"overrides": [
		{
			"files": "test/**",
			"rules": {
				"max-lines-per-function": 0,
				"no-magic-numbers": 0,
			},
		},
	],
}
